{% extends 'layouts/base.html' %}
{% load static %}
{% block head %}
    <title>Create A Poll 🗳</title>
    <script src="{% static 'scripts/js/submit-script.js'%}"></script>
{% endblock head %}
{% block body %}
    <div class="poll-form-container">
        <form action="{% url 'pollapp:submit-poll' %}" method="POST" class="poll-form">
            <h1>Submit a poll!</h1>
            {% csrf_token %}
            <label for="name">Question</label>
            <input type="text" name="name" placeholder="Question" required maxlength="100">
            <label for="choice[]">Choices</label>
            <input type="text" name="choice[]" maxlength="20" required>
            <input type="text" name="choice[]" maxlength="20">
            <button type="button" class="poll-form__add" onclick='AddChoice(this)'>Add another choice</button>
            <input type="submit">
            <ul>
            {% for error in errors %}
                <li>{{error}}</li>
            {% endfor %}
            </ul>
        </form>
    </div>
{% endblock body %}
