{% extends 'layouts/base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static "styles/poll.css" %}">
    <title>Index 📃</title>
    {% comment %} TODO: Add poll functionality {% endcomment %}
{% endblock head %}
{% block body %}
    <div class="title-head-container">
        <h1>Ongoing Polls</h1>
    </div>
    <div class="title-container">

    </div>
    <div class="poll-container">
    {% for i in 1|seq:10 %}
        <div class="poll" style="animation-delay: {{ forloop.counter|mul:0.05 }}s;">
            <h3 class="poll__title">GoodPoll</h3>
            <form action="sdfdsffsd" method="POST" class="poll__form">
                {% csrf_token %}
                <button type="submit" class="poll__choice">Choice 1</button>
                <button type="submit" class="poll__choice">Choice 2</button>
                <button type="submit" class="poll__choice">Choice 3</button>
                <input type="hidden" name="uuid" value="{{forloop.counter}}">
            </form>
        </div>
    {% endfor %}
    </div>
{% endblock body %}
