{% extends 'layouts/base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static "styles/poll.css" %}">
    <script src="{% static 'scripts/poll-script.js' %}" defer></script>
    <title>Index 📃</title>
{% endblock head %}
{% block body %}
    <div class="content__title">
        <h1>The Polls App</h1>
        <h2>"Do our polls or we will take your souls"<br> - Our slogan since 1245</h2>
    </div>
    <div class="content__header">
        <h1>Ongoing Polls</h1>
    </div>
    <div class="poll-container" data-next="{{ polls|length }}">
    {% for poll in polls %}
        {% CreatePoll poll forloop.counter %}
    {% endfor %}
    </div>
{% endblock body %}
