
#python
*.pyc
__pycache__/
.pytest_cache

#django
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

#repl.it
.replit
.env

#powershell scripts
*.ps1

#npm
node_modules
build
npm-debug.log
.DS_Store

#vscode
.vscode

# compiled JS
/static/scrips/js/*
