<div class="poll" style="animation-delay: {{ delay|mul:0.05 }}s;">
    <h3 class="poll__title">{{ poll.name }}</h3>
    <form action="{% url "pollapp:index" %}" method="POST" class="poll__form">
        {% csrf_token %}
        {% for choice in poll.choices %}
        <button
        type="button"
        name="choice"
        value="{{ choice.text }}"
        data-votes="{{ choice.votes }}"
        class="poll__choice"
        onclick="SendVote(this)">{{ choice.text }}</button>
        {% endfor %}
        <input type="hidden" name="uuid" value="{{ poll.uuid }}">
    </form>
</div>
