
/* thanks, internet :D */

html, body {
    height: 100%;
    position: relative;
}

main {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
