
/* thanks, internet :D */

html, body {
    height: 100%;
    position: relative;
}

main {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 150px; /* Height of footer */
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.content {
    margin: 50px 0;
    display: block;
}

.content__header {
    /* background-color: var(--layer-3); */
    padding: 5px 25px;
    margin: 0 200px;
    border-left: solid var(--link-color) 5px;
}

.content__subheader {
    background-color: var(--layer-2);
    padding: 20px 50px;
}
