.poll-form {
    width: 500px;
    padding: 50px;
    background-color: var(--layer-1);
    border-radius: 20px;
    box-shadow: 0 0 5px var(--shadow-color); 
    display: flex;
    flex-direction: column;
}

.poll-form > * {
    font-size: 18pt;
    margin-bottom: 10px;
}

label {
    color: var(--text-color);
    margin: 0;
}

.poll-form-container {
    display: flex;
    margin: 50px;
    justify-content: center;
}

input[type="text"] {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--layer-2);
    border: none;
    color: var(--text-color);
    box-shadow: 0 0 3px var(--shadow-color);
}

input[type="text"]:focus {
    outline: none;
}
