form {
    width: 500px;
    padding: 50px;
    background-color: var(--layer-1);
    border-radius: 20px;
    box-shadow: 0 0 5px var(--shadow-color); 
    display: flex;
    flex-direction: column;
}

form > * {
    color: black;
    font-size: 18pt;
    margin-bottom: 10px;
}

label {
    color: white;
    margin: 0;
}

.poll-form-container {
    display: flex;
    margin: 50px;
    justify-content: center;
}
