
.poll-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 20px;
}

.poll {
    border: 2px solid var(--layer-5);
    background-color: var(--layer-2);
    /* transform: scale(0); */
    transition: 0.25s;
    /* border: 1px solid red; */
    box-shadow: 0px 0px 5px var(--shadow-color);
    height: auto;
    width: 100%;
    margin: 10px 20px;
    padding: 20px;
    display: block;
    /* opacity: 0; */
    /* animation: pop 0.5s ease forwards; */
}

/* @media (min-width: 780px)
{
    .poll:hover {
        background-color: var(--layer-4);
        cursor: pointer;
    }

    .poll:active {
        background-color: var(--layer-3);
    }
} */
/* @media (max-width: 1280px)
{
    .poll {
        width: 37%;
    }
} */

@media (max-width: 780px)
{
    .poll {
        margin: 10px;
        width: 440px;
    }
    .poll .poll__form {
        display: flex;
    }
    .poll-container {
        padding: 20px 20px;
    }
}

.poll__form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    transform-origin: top;
    position: relative;
    margin-bottom: 5px;
}

.poll__choice {
    --precentage: 0%;
    font-size: 20px;
    padding: 5px;
    margin: 5px 5px;
    border: 0;
    outline: 0;
    background-color: var(--button-color-primary);
    width: 25%;
    /* color: var(--text-color-inverse); */
}

.poll__title {
    padding: 10px 5px;
}

.poll__form--voted .poll__choice {
    text-align: left;
    color: transparent;
    position: relative;
    outline: solid var(--button-color-primary) 2px;
    background-color: var(--button-color-primary-dark);
    border-radius: 0;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    /* padding-left: 2%; */
    /* transition: none !important; */
}

.poll__form--voted .poll__choice::before {
    background-color: var(--poll-precentage-bar);
    left: 0;
    top: 0;
    color: var(--text-color);
    white-space: nowrap;
    padding-top: 5px;
    padding-left: 5px;
    content: attr(data-choice-text);
    width: calc(var(--precentage) - 5px);
    transition: 0.25s;
    height: calc(100% - 5px);
    position: absolute;
    z-index: -0.5;
    /* outline: solid red 2px; */
}

.poll__form--voted .poll__choice::after {
    content: attr(data-votes-formatted);
    right: 2%;
    font-size: 15pt;
    color: var(--text-color);
    position: absolute;
}

.poll__choice--selected {
    filter: hue-rotate(-84deg) !important;
}

/* .poll--visible .poll__form {
    display: flex;
    animation: fadein 0.25s linear;
}

.poll--visible .poll__form .poll__choice-container {
    top: 0;
    height: 100%;
    transition: 0.25s ease;
} */

.poll__line {
    background-color: white;
    width: 50%;
    height: 1px;
    padding: 0;
    margin: 5px 0;
}

@media (max-width: 780px) 
{
    .poll__line {
        width: 100%;
    }
    
    .poll__choice {
        width: 100%;
        margin: 0;
        margin-top: 10px;
    }
}

@media (min-width: 780px) 
{

    /* .poll--visible:hover {
        background-color: var(--layer-3);
    }
    
    .poll--visible:active {
        background-color: var(--layer-2);
    }
    */
} 

.poll-misc {
    font-style: italic;
    color: var(--layer-3);
}

.poll-misc__info {
    color: var(--text-color);
    padding: 0;
    font-size: 12pt;
}

.poll-misc__info-muted {
    color: var(--text-color-muted);
    padding: 0;
    font-size: 6pt;
}

.poll__choice-container {
    width: 100%;
    height: 0;
    position: relative;
    top: -550px;
    transition: 0.25s ease;
}
